.my-orders {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 10px 20px;
    width: 60%;
}

.user-info {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    gap: 16px;
}

.user-image {
    font-size: 48px;
    padding-top: 10px;
    color: blueviolet;
}

.user-name {
    font-size: 21px;
    font-weight: 600;
}

@media (max-width: 900px) {
    .my-orders {
        padding: 10px 10px;
        width: 100vw;
    }
    .user-info {
        align-self: flex-start;
        gap: 10px;
        margin-bottom: 20px;
    }
    
    .user-image {
        font-size: 20px;
    }
    
    .user-name {
        font-size: 12px;
        font-weight: 600;
    }
    .user-email {
        font-size: 12px;
    }
    tbody {
        font-size: 10px;
        font-weight: 500;
    }
    td {
        padding: 0 5px;
    }
}